 .titled-pane
{
-fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
-fx-text-fill: -fx-text-base-color;
}

.titled-pane *
{
-fx-text-fill: white;
}

.titled-pane:focused 
{
-fx-text-fill: white;
}

.titled-pane > .title 
{
-fx-background-color: rgba(40,37,91, 0.4);
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title 
{
-fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: transparent;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: transparent;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color: rgba(29,52,97, 0.5);
-fx-box-border: rgba(29,52,97, 0.4);
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: transparent;
}


.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.scroll-pane{
	-fx-background-color: transparent;
}
.transparent{
	-fx-background-color: transparent;
}


.hour{
 -fx-background-color: transparent;
 -fx-font: 15pt "Arial";
}

.hour .text{
 -fx-fill: rgb(253,181,21);
 -fx-stroke: darkblue;
 -fx-stroke-width: 0.5px;
}

.hour2{
  -fx-background-color: rgba(0,0,0,0.2);
 -fx-font: 15pt "Arial";
}

.hour2 .text{
 -fx-fill: rgb(253,181,21);
 -fx-stroke: darkblue;
 -fx-stroke-width: 0.5px;
}

.hourly_text{
 -fx-stroke: darkblue;
 -fs-fill: white;
 -fx-stroke-width: 0.5px;
 -fx-font: bold 15pt;

}

 .wind_val .text{
  -fx-font: bold 30pt "Arial";
}

 .wind_msmt{
  -fx-text-fill: rgb(253,181,21);
  -fx-font: 13pt "Arial";
 }

 .wind_dir{
  -fx-text-fill: rgb(253,181,21);
  -fx-font: bold 13pt "Arial";
 }

 .temp_val{
  -fx-text-fill:  rgb(253,181,21);
  -fx-font: bold 30pt "Arial";
  -fx-text-alignment: right;
 }

 .temp_msmt{
  -fx-text-fill: rgb(253,181,21);
  -fx-font: 15pt "Arial";
 }

 .small_name{
  -fx-text-fill: rgb(253,181,21);
  -fx-font: bold 20pt "Arial";
 }


 .small_val{
  -fx-text-fill: #BACFE4;
  -fx-font: bold 20pt "Arial";
  -fx-text-alignment: center;
 }

 .small_content .text{
  -fx-alignment: baseline-center;
 }
